.page_container {
  max-width: 1280px;

  display: flex;
  flex-direction: column;

  gap: 12px;
  padding: 2vw;
  margin: 0 auto;
}

.textarea_code {
  min-height: 40vh;
  resize: vertical;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 0;
  transition: 1s;
  overflow: hidden;
}

.message_open {
  padding-block: 4vh;
}

.message_type_error {
  background-color: var(--danger);
}

.message_text {
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  gap: 12px;
}

.options > button {
  flex: 1;
}

.textarea_wrapper {
  position: relative;
}

.textarea_wrapper > .textarea_code {
  width: 100%;
}

aside {
  position: absolute;
  top: 18px;
  right: 18px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border-radius: 8px;
  background-color: var(--secondary-background-color);
}
